[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=Otimizar-pdf

[Desktop Action Otimizar-pdf]
Name=Converter PDF para odt ou_texto
Exec=/usr/local/bin/acao_pdf_para_odt_ou_texto.sh %U
Icon=utilities-terminal
