[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/png;
Actions=multiplos-pdf

[Desktop Action multiplos-pdf]
Name=Converter multiplas imagens para multiplos PDFs
Exec=/usr/local/bin/acao_multiplos_PDFs.sh %U
Icon=utilities-terminal



# KDE usa ServiceMenus para adicionar ações personalizadas no menu de contexto do Dolphin. 
# Os caminhos típicos são:

#       Local	                                    Função

# ~/.local/share/kservices5/ServiceMenus/	 Para adicionar ServiceMenus do usuário
# /usr/share/kservices5/ServiceMenus/	     Para ServiceMenus globais do sistema


# https://plus.diolinux.com.br/t/scripts-criados-para-o-dolphin-kde-6-4-3-criou-algum-informe-aqui-scripts-atualizados-02-7-adicionado-mais-3/75870

